* {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.b-color {
    background-color: transparent;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: 3700px;
    margin-top: 50px;
    background-color: #120632;
    box-shadow: -24px 24px 37px #120632;
    border-radius: 25px 25px 0px 0px;
}

.container-alignment {
    position: absolute;
    width: 70%;
    height: 3700px;
    display: flex;
    flex-direction: column;

}

.container .img img {
    width: 49%;
    height: auto;
    background: transparent;
    position: absolute;
    top: 2%;
    left: 50%;
}

h1 {
    background-color: #120632;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
    font-weight: 750;
}



/* Navbar Section ---------------------------------------------*/

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 2%;
    position:sticky;
    top: 0;
    gap: 3%;
}

.menu-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    font-size: 110%;
    text-shadow: 1px 6px 18px #4600FF;
}

a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}


/* Button Scroll --------------------------------------------- */

.button-scroll {
    border: 1px solid #4600FF;
    width: 100%;
    height: 10%;
    background-color: transparent;
    bottom: 0;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.button-scroll img {
    width: 70%;
    height: 70%;
    background-color: transparent;
}

.button-scroll:hover {
    /*Develope*/
}


/* Home Section ----------------------------------------------*/

.container-home {
    height: 12%;
    top: 2.5%;
}

.container-home .text-presentation {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 50%;
}

.container-home #container {
    width: 100%;
    height: 50%;
}

.container-home h3 {
    background-color: #120632;
    color: #ffffff;
    line-height: 0%;
    margin-bottom: 20%;
}

.container-home h1 {
    background-color: #120632;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
    font-weight: 750;
}

.container-home #first-line {
    margin-bottom: -2%;
}

.container-home .button {
    display: flex;
    justify-content: center;
    border: #fff;
    width: 55%;
    height: 15%;
    margin-top: 5%;

}

.container-home .button input {
    width: 190%;
}

.container-home input {
    background-color: #4600FF;
    color: #120632;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 20px;
}


/* About Me Section ---------------------------------------------- */

.container-about {
    background-color: transparent;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.container-about .container-text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}


.container-about p {
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 2%;
    font-size: 24px;
    font-weight: bold;
}

.container-about .container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    gap: 3%;
    margin-top: 20px;
}

.container-about .box {
    width: 10%;
    background: transparent;
}

.container-about .container-button .linkedin {
    width: 11%;
}

.container-about .container-button .instagram {
    width: 11%;
    filter: invert(9%) sepia(100%) saturate(7216%) hue-rotate(262deg) brightness(93%) contrast(128%);
}

.container-about img {
    width: 100%;
    height: auto;
    background: transparent;
}


/* Habilites Section ----------------------------------------- */

.container-habilities {
    width: 100%;
    height: 15%;
    margin-top: 10%;
}

.container-habilities .container-title {
    width: 100%;
    height: 10%;
}

.container-habilities .container-title h1 {
    background: transparent;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
}

.container-habilities .container-title h1 a {
    color: #fff;
}

.container-habilities .container-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    background: transparent;
}

.container-habilities .technologies {
    width: 47.5%;
    height: 95%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-habilities .technologies .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: 95%;
    height: 32%;
}

.container-habilities .technologies .line img {
    width: 28%;
    background: transparent;
}

.container-habilities .technologies .line .image-decrease {
    width: 23%;
}

.container-habilities .technologies .line .image-increase {
    width: 30%;
}

.container-habilities .experiences {
    display: flex;
    justify-content: center;
    width: 47.5%;
    height: 95%;
    background: transparent;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container-habilities .experiences .line {
    background: transparent;
    width: 100%;
    height: 30%;
    margin: 0;
}

.container-habilities .experiences .line p {
    color: #fff;
    background: transparent;
    margin: 0;
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
}

.container-habilities .experiences .line .date {
    color: #4600FF;
    background: transparent;
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: right;
    margin-bottom: 2%;
}

.container-habilities .experiences .line-separation {
    border: 1px solid #4600FF;
    transform: rotate(180deg);
    margin: 1.5%;
}



/* Projects Section -------------------------------------------- */

.container-projects {
    width: 100%;
    height: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-projects .container-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.container-projects .content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-projects .content .line {
    width: 100%;
    height: 47.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-projects .content .line .box {
    border: 1px solid #4600FF;
    border-radius: 25px;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-projects .content .centered {
    justify-content: center;
}

.container-projects .content .line .box .image {
    width: 90%;
    height: 50%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.container-projects .content .line .box .image img {
    width: 100%;
}

.container-projects .content .line .box .correction img {
    height: 100%;
    width: auto;
}


.container-projects .content .line .box .title {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-projects .content .line .box .title h3 {
    background: transparent;
    color: #fff;
}

.container-projects .content .line .box .technologies {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
}

.container-projects .content .box .technologies img {
    width: 30%;
    background: transparent;
}



/* Contact Me ------------------------------------------------- */

.container-contact {
    width: 70%;
    height: 15%;
    position: fixed;
    bottom: 3%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.container-contact .title h1 {
    color: #fff;
    font-size: 400%;
}

.container-contact .content {
    width: 100%;
    height: 75%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-contact .content .box {
    border: 1px solid #4600FF;
    width: 48%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.container-contact .content .box .title {
    width: auto;
    height: 10%;
    position: absolute;
    top: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120632;
}

.container-contact .content .box .title h2 {
    background: transparent;
    color: #4600FF;
    font-size: 225%;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.container-contact .content .box .input-email {
    border: 1px solid #4600FF;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 15px;
}

.container-contact .content .box .input-email input {
    background: #120632;
    border: none;
    color: #fff;
    width: 90%;
    border-radius: 10px;
    font-size: medium;
}

.container-contact .content .box .input-email input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.container-contact .content .box .input-message {
    border: 1px solid #4600FF;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container-contact .content .box .input-message textarea {
    background: #120632;
    color: #fff;
    width: 90%;
    height: 90%;
    border: none;
    padding: 1%;
    font-size: medium;
}

.container-contact .content .box .input-message textarea:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.container-contact .content .box .btn-send {
    width: 50%;
    height: 15%;
}

.container-contact .content .box .btn-send input {
    width: 100%;
    height: 100%;
    font-size: 150%;
    border-radius: 10px;
    background: transparent;
    border: none;
    color: #120632;
    background-color: #4600FF;
    font-weight: 750;
}

.container-contact .content .box h2 {
    color: #fff;
    background-color: transparent;
    font-size: 200%;
}

.container-contact .content .box img {
    background-color: transparent;
    font-size: 200%;
    filter: invert(9%) sepia(100%) saturate(7216%) hue-rotate(262deg) brightness(93%) contrast(128%);
}


/* Footer ------------------------------------------------- */

.container-footer {
    border: 1px solid #4600FF;
    position: fixed;
    bottom: 0%;
    width: 70%;
    height: 2%;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
}

.container-footer .links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.container-footer .links img {
    background: transparent;
    filter: invert(9%) sepia(100%) saturate(7216%) hue-rotate(262deg) brightness(93%) contrast(128%);
}

.container-footer .text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer .text h4 {
    background: transparent;
    color: #ffffff;
}