* {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.b-color {
    background-color: transparent;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: 3799px;
    margin-top: 50px;
    background-color: #120632;
    box-shadow: -24px 24px 37px #120632;
    border-radius: 25px 25px 0px 0px;
}

.container-alignment {
    border: 1px solid yellow;
    position: absolute;
    width: 70%;
    height: 3799px;
    display: flex;
    flex-direction: column;

}

.container .img img {
    width: 49%;
    height: auto;
    background: transparent;
    position: absolute;
    top: 2%;
    left: 50%;
}


/* Navbar Section ---------------------------------------------*/

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 2%;
    position: sticky;
    top: 0;
    gap: 3%;
}

.menu-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    font-size: 110%;
    text-shadow: 1px 6px 18px #4600FF;
}

a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}


/* Button Scroll --------------------------------------------- */

.button-scroll {
    border: 1px solid #4600FF;
    width: 100%;
    height: 10%;
    background-color: transparent;
    bottom: 0;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.button-scroll img {
    width: 70%;
    height: 70%;
    background-color: transparent;
}

.button-scroll:hover {
    /*Develope*/
}


/* Home Section ----------------------------------------------*/

.container-home {
    border: 1px solid red;
    height: 12%;
    top: 2.5%;
}

.container-home .text-presentation {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 50%;
}

.container-home #container {
    width: 100%;
    height: 50%;
}

.container-home h3 {
    background-color: #120632;
    color: #ffffff;
    line-height: 0%;
    margin-bottom: 20%;
}

.container-home h1 {
    background-color: #120632;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
    font-weight: 750;
}

.container-home #first-line {
    margin-bottom: -2%;
}

.container-home .button {
    display: flex;
    justify-content: center;
    border: #fff;
    width: 55%;
    height: 15%;
    margin-top: 5%;

}

.container-home .button input {
    width: 190%;
}

.container-home input {
    background-color: #4600FF;
    color: #120632;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 20px;
}


/* About Me Section ---------------------------------------------- */

.container-about {
    background-color: transparent;
    border: 1px solid green;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.container-about .container-text {
    border: 1px solid rgb(255, 0, 0);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.container-about h1 {
    background-color: #120632;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
    font-weight: 750;
}

.container-about p {
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 2%;
    font-size: 24px;
    font-weight: bold;
}

.container-about .container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    gap: 3%;
    margin-top: 20px;
    border: 1px solid green;
}

.container-about .box {
    width: 10%;
    background: transparent;
}

.container-about .container-button .linkedin {
    width: 11%;
}

.container-about .container-button .instagram {
    width: 9%;
}

.container-about img {
    width: 100%;
    height: auto;
    background: transparent;
}


/* Habilites Section ----------------------------------------- */

.container-habilities {
    border: 1px solid red;
    width: 100%;
    height: 15%;
    margin-top: 10%;
}

.container-habilities .container-title {
    border: 1px solid green;
    width: 100%;
    height: 10%;
}

.container-habilities .container-title h1 {
    background: transparent;
    color: #4600FF;
    font-size: 320%;
    margin: 0;
}

.container-habilities .container-title h1 a {
    color: #fff;
}

.container-habilities .container-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    background: transparent;
    border: 1px solid #ff4800;
}

.container-habilities .technologies {
    border: 1px solid rgb(0, 217, 255);
    width: 47.5%;
    height: 95%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-habilities .technologies .line {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: 95%;
    height: 32%;
}

.container-habilities .technologies .line img {
    width: 28%;
    background: transparent;
}

.container-habilities .technologies .line .image-decrease {
    width: 23%;
}

.container-habilities .technologies .line .image-increase {
    width: 30%;
}

.container-habilities .experiences {
    display: flex;
    justify-content: center;
    width: 47.5%;
    height: 95%;
    background: transparent;
    display: flex;
    justify-content: right;
    align-items: center;

}

.container-habilities .experiences .line {
    background: transparent;
    width: 100%;
    height: 30%;
    margin: 0;
}

.container-habilities .experiences .line p {
    color: #fff;
    background: transparent;
    margin: 0;
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
}

.container-habilities .experiences .line .date {
    color: #4600FF;
    background: transparent;
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: right;
    margin-bottom: 2%;
}

.container-habilities .experiences .line-separation {
    border: 1px solid #4600FF;
    transform: rotate(180deg);
    margin: 1.5%;
}


/* Projects Section -------------------------------------------- */

.container-projects {
    border: 1px solid green;
    width: 100%;
    height: 20%;
    margin-top: 10%;
}

.container-projects .container-title {
    border: 1px solid red;
    width: 100%;
    height: 10%;
}